body { 
	font-family: 'Courier New', monospace;
	color: white;
	background-color: black;
}

section {
	text-align: center;
}

.game--container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	width: 408px;
	margin: 50px auto;

 
}

.game--restart {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	color: white;
	font-size: 20px;
	border: none;
	background: red;
}

.cell {
	font-family: "Permanent Marker", cursive;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 0 1px #333333;
	border: 1px solid #444444;
	cursor: pointer;
}

.rotate {
    animation: rotation 1s;
}

.blinky {
    animation: blink 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-360deg);
  }
}

 @keyframes blink{
   0%{
     opacity: 0.5;
   }
   50%{
     opacity: 1;
   }
   100%{
     opacity: 0.5;
   }
 }