/*
//green #7eba96
//blue #81b3ba
//cream #dbd7bc
*/

@font-face {
  font-family: 'Metropolis-Thin';
  src: url('/fonts/Metropolis/woff2/Metropolis-Thin.woff2') format('woff2'),
       url('/fonts/Metropolis/woff/Metropolis-Thin.woff') format('woff');
}
* {
  margin: 0;
  padding:  0;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: 'Metropolis-Thin', sans-serif;

}
@media (prefers-color-scheme: dark) {
  body  { 
  color: white;
  background-color: #1d1c1c;
}
#main {
  box-shadow: 0 16px 12px -12px black;
}

}

@media (prefers-color-scheme: light) {
  body  {
    color: black;
    background-color: #ffffff;
    background-image: linear-gradient(310deg, #c9cad0 0%, #ffffff 74%);
  }
  #main {box-shadow: 0 16px 12px -12px #848484;}
}
nav {
  display: block;
  height: 70px;
  width: 100vw;
  background-color: #2e293a;
  color: #96979a;
}

a {
  text-decoration: none;
}
#top-left {

  width: 20%;
  //outline: 1px solid red;
  display: inline-block;
  float: left;
}

#center {
  width: 60%;
  display: inline-block;
  //outline: 3px solid pink;
  float: left;

}

#top-right {
  position: relative;
  display: block;
  margin-left: 80%;
  //outline: 1px solid yellow;
}

#sig {
  margin-left: 25px;
  line-height: 70px;
  font-size: 25px;
  color: white;
}
#logo img {
  height: 65px;
  width: 65px;
}

nav ul {
  height: inherit;
  width: 400px;
  margin: 0 auto ;
  //outline: 1px solid yellow;

}
nav ul li{
  height: 70px;
  width: 80px;
  display: inline-block;
  float: left;
  text-align: center;
  //outline: 1px solid orange;
}

.nav_link {
    animation-name: fadeIn;
    animation-duration: 2s;
  line-height: 70px;
  //outline: 1px solid green;
  font-size: 25px;
  color: white;
}

.nav_link:hover {
  color: grey;
}

#burger {
  display: inline-block;
  float: right;
  height: 35px;
  width: 35px;
  margin-top: 15px;
  margin-right: 27px;
  //outline: 1px solid green;
}

#wrapper {
  height: 100%;
  width: 100%;
}
#main {
  height: 70vh;
  width: 96vh;
  border-radius: 18px;
  background-color: black;
  margin: 0 auto;
  margin-top: 50px;
}

#screen {
  position: absolute;
  background-color: green;
  width: 92vh;
  height: 54vh;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  background-image: url('../img/mojave.jpeg');
  background-size: cover;
}

#bezel {
  position: absolute;
  width: 96vh;
  height: 12vh;
  margin-top: 58vh;
  border-radius: 0 0 18px 18px;
  background-color: grey;
  background-image: linear-gradient(130deg, #272727 0%, #1b1b1b 64%);
}
#text {
  color: grey;
  font-size: 20px;
  text-align: center;
  width: 100%;
  line-height: 80px;
}
.app {
  display: inline-block;
  float: right;
  color: white;
  text-align: center;
  font-weight: 100;
 
  width: 80px;

}
#face {
  margin-right: 45px;
  margin-top: 45px;

}
#face  img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

@media only screen and (max-width: 600px) {
  #main {
    display: none;
  }
  nav ul {
    width: 240px; 
  }
  nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(4),nav ul li:nth-child(5) {
      display: none;
  }
  #logo {
    width: 100%;
  }

}

@media only screen and (max-width: 400px) {
  #center {
    width: 30%;  
  }

  nav ul {
    width: 80px;
  }
  nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(4),nav ul li:nth-child(5) {
    display: none;
  }
  #top-left {
    width: 35%;   
  }
  #top-right {
    width: 35%;
    margin-left: 65%;
  }
}






















