/*
//green #7eba96
//blue #81b3ba
//cream #dbd7bc
*/

@font-face {
  font-family: 'Metropolis-Thin';
  src: url('/fonts/Metropolis/woff2/Metropolis-Thin.woff2') format('woff2'),
       url('/fonts/Metropolis/woff/Metropolis-Thin.woff') format('woff');
}
* {
  margin: 0;
  padding:  0;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: 'Metropolis-Thin', sans-serif;
}


@media (prefers-color-scheme: dark) {
  #wrapper  { 
  color: white;
  background-color: #1d1c1c;
}

#main {
  box-shadow: 0 16px 12px -12px black;
}
#topbar {
  background-image: linear-gradient(180deg, #1d1c1c 0%, black 74%);
  color: white;
  
}
}

@media (prefers-color-scheme: light) {
  #wrapper  {
    color: black;
    background-color: #ffffff;
    background-image: linear-gradient(310deg, #c9cad0 0%, #ffffff 74%);
  }
  #main {box-shadow: 0 16px 12px -12px #848484;}
  #topbar {
    background-color: grey;
    color: black;
  }
}


nav {
  display: block;
  height: 70px;
  width: 100vw;
  background-color: #2e293a;
  color: #96979a;
}

a {
  text-decoration: none;
}
#top-left {

  width: 20%;
  //outline: 1px solid red;
  display: inline-block;
  float: left;
}

#center {
  width: 60%;
  display: inline-block;
  //outline: 3px solid pink;
  float: left;

}

#top-right {
  position: relative;
  display: block;
  margin-left: 80%;
  //outline: 1px solid yellow;
}

#sig {
  margin-left: 25px;
  line-height: 70px;
  font-size: 25px;
  color: white;
}
#logo img {
  height: 65px;
  width: 65px;
}

nav ul {
  height: inherit;
  width: 400px;
  margin: 0 auto ;
  //outline: 1px solid yellow;

}
nav ul li{
  height: 70px;
  width: 80px;
  display: inline-block;
  float: left;
  text-align: center;
  //outline: 1px solid orange;
}

.nav_link {
    animation-name: fadeIn;
    animation-duration: 2s;
  line-height: 70px;
  //outline: 1px solid green;
  font-size: 25px;
  color: white;
}

.nav_link:hover {
  color: grey;
}

#burger {
  display: inline-block;
  float: right;
  height: 35px;
  width: 35px;
  margin-top: 15px;
  margin-right: 27px;
  //outline: 1px solid green;
}

#wrapper {
  position: fixed;
  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  
}
/* window */
#window {
  position: fixed;
  opacity: .2;
  width: 100%;
  height: 60vh;
  background-color: blue;
  z-index: -1;
}
/* wall */
#wall {
  width: 100%;
  height: 100%;
  background-color: brown;
}
/* computer*/
#computer {
  position: relative;
  width: 675px;
  height: 450px;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 25px;

}
#screen {
  position: relative;
  width: 94%;
  height: 70%;
  top: 5%;
  left: 3%;
  background-color: green;
  background-image: url('../img/mojave.jpeg');
  background-size: cover;
  z-index: 2;
}
#bezel {
  position: relative;
  width: 100%;
  height: 20%;
  top: 10%;
  border-radius: 0 0 25px 25px;
  background-image: linear-gradient(130deg, #272727 0%, #1b1b1b 64%);
  z-index: 3;
}
#comp_logo {
  position: relative;
  width: 8%;
  height: 12%;
  background-image: url('../img/comp_logo.png');
  background-size: cover;
  margin-top: -4%;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}
#stand {
  position: relative;
  width: 18%;
  height: 15%;
  background-image: linear-gradient(130deg, #272727 0%, #171717 64%);
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#base {
  position: relative;
  height: 0;
  width: 22%;
  margin-top: -2vh;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 70px solid #272727;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-radius: 8px;   
  z-index: 0;
}
 /* desk */
 #desk {
   position: relative;
   display: block;
   width: 100%;
   height: 30vh;
   background: radial-gradient(#fff8f3, #928476);
   margin-top: -1vh;
   z-index: -1;
 }


}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

@media only screen and (max-width: 600px) {

  nav ul {
    width: 240px; 
  }
  nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(4),nav ul li:nth-child(5) {
      display: none;
  }
  #logo {
    width: 100%;
  }

}

@media only screen and (max-width: 400px) {
  #center {
    width: 30%;  
  }

  nav ul {
    width: 80px;
  }
  nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(4),nav ul li:nth-child(5) {
    display: none;
  }
  #top-left {
    width: 35%;   
  }
  #top-right {
    width: 35%;
    margin-left: 65%;
  }
}





















